<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="navigation::head"><title>Allgemeine Geschäftsbedingungen (AGB)</title></head>

<body>


<div class="background landingpage">
    <header>
        <h1 class="display-2" id="banner">Best-Food-Catering</h1>
    </header>

    <br/>
</div>
<nav th:include="navigation :: navigation"></nav>

<div class="background menu-img">
    <div class="container">


        <h1 class="display-4">Allgemeine Geschäftsbedingungen (AGB)</h1>

        <div class="card">
            <div class="card-header">
                Allgemeine Geschäftsbedingungen (AGB)
            </div>
            <div class="card-body">
                <b>§ 1 Verwender</b>
                <p> Als Verwender dieser AGB gilt:</p>
                <p>Best-Food-Catering GmbH</p>
                <p>Gruppe 36</p>
                <p>Nöthnitzer Str. 46</p>
                <p>01187 Dresden</p>
                <p>Registernummer: 7891011</p>
                <p>Registergericht: Amtsgericht Dresden</p>

                <b>§ 2 Geltungsbereich</b>
                <p>Diese Allgemeinen Geschäftsbedingungen gelten für alle Rechtsgeschäfte zwischen dem Verwender und
                    einem
                    Verbraucher (
                    Gemäß § 13 BGB einer „natürlichen Person, die ein Rechtsgeschäft zu Zwecken abschließt, die
                    überwiegend weder
                    ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können“).</p>

                <b> § 3 Vertragsschluss und Speicherung des Vertragstextes</b>
                <p> Die Bestimmungen dieser AGB gelten für Bestellungen, welche Verbraucher über die Website
                    www.modelldomain.de des
                    Onlineshops Modellshop abschließen.</p>
                <p>Der Vertrag kommt mit dem Verwender (siehe § 1) zustande.</p>
                <p>Die Vorstellung und Beschreibung der Waren auf der Internetseite des Modellshops www.modelldomain.de
                    stellt kein Vertragsangebot dar.</p>
                <p>Mit der Bestellung einer Ware durch einen Klick auf den Button „kostenpflichtig bestellen“ am Ende
                    des
                    Bestellvorgangs gibt ein Verbraucher ein verbindliches Angebot auf einen Kaufvertragsabschluss ab.
                    Erst mit
                    dem Versand einer Auftragsbestätigung per E-Mail durch den Verwender kommt der Vertragsschluss
                    zustande.</p>
                <p>Der Vertragstext wird bei Bestellungen gespeichert. Verbraucher erhalten eine E-Mail mit den
                    Bestelldaten und den geltenden AGB. Nach Vertragsschluss sind die Bestelldaten nicht mehr online
                    einsehbar.</p>

                <b>§ 4 Zahlung</b>
                <p>Die gesetzliche Umsatzsteuer sowie weitere Preisbestandteile sind in den angegebenen Preisen
                    inbegriffen.
                    Versandkosten sind nicht im angezeigten Preis enthalten und können ggf. zusätzlich anfallen.</p>
                <p> Verbrauchern stehen folgende Zahlungsoptionen zur Verfügung:</p>

                <p>Paypal</p>
                <p>Überweisung</p>
                <p>Nachnahme</p>

                <b>§ 5 Lieferung, Lieferungsbeschränkungen</b>
                <p> Die Lieferung erfolgt – sofern die Beschreibung eines gewählten Produkts nicht explizit Abweichendes
                    festlegt –
                    innerhalb von 7 Werktagen.</p>
                <p> Diese Frist beginnt im Falle der Zahlung via Überweisung oder Paypal am Tag nach Erteilung des
                    Zahlungsauftrages
                    zu laufen.</p>

                <b>§ 6 Gefahrenübergang</b>
                <p> Das Risiko einer zufälligen Verschlechterung oder einem zufälligen Verlust der Ware liegt bis zur
                    Übergabe der
                    Ware beim Verwender und geht es mit der Übergabe auf den Verbraucher über.</p>

                <b>§ 7 Eigentumsvorbehalt</b>
                <p> Bis zum vollständigen Empfang des Kaufpreises behält sich der Verwender das Eigentum an der Ware
                    vor.</p>

                <b>§ 8 Gewährleistung</b>
                <p>Die gesetzlichen Gewährleistungsregelungen gelten.</p>

                <br/>

                <a class="btn btn-primary active" th:href="@{/register}" role="button">Zurück</a>


            </div>
        </div>

        <br/>
    </div>
</div>
</body>
</html>

